@font-face {
    font-family: "Roboto Mono";
    src: url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Handjet";
    src: url(./fonts/Handjet/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}

:root {
    --text-green: #02F4BF;
    --text-orange: #E15544;
    --content-max-width: 1920px;
    --page-padding: 0px 100px;
    --page-padding-1150: 0px 75px;
    --page-padding-700: 0px 50px;
    --page-padding-500: 0px 25px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #13074E, #1D0A79F2);
    color: var(--text-green);
}