@font-face {
    font-family: "Roboto Mono";
    src: url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Handjet";
    src: url(./fonts/Handjet/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}

:root {
    --text-green: #02F4BF;
    --text-orange: #E15544;
    --content-max-width: 1920px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #13074E, #1D0A79F2);
    color: var(--text-green);
}

header {
    position: sticky;
    top: 0;
    padding: 24px 0px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0px 100px;
}

.main-content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0px 100px;
}

.footer-content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0px 100px;
    color: var(--text-orange);
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bar {
    display: flex;
    color: var(--text-orange);
    gap: 48px;
}

.nav-bar a {
    color: var(--text-orange);
    font-size: 22px;
    line-height: 120%;
}

.nav-bar p {
    font-size: 48px;
    font-family: "Handjet", sans-serif;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.language-selector {
    display: flex;
}

.hero-section {
    min-height: 100vh;
}

h2 {
    font-size: 54px;
    line-height: 120%;
    color: var(--text-orange);
}

.projects {
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.project-card p {
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
}

.project-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 17px;
}

.project-languages {
    margin-bottom: 40px;
}

.project-links {
    margin-top: 48px;
}

.project-links a {
    padding: 15px 30px;
}

.github-button {
    color: var(--text-orange);
    border: solid 1px var(--text-green);
}

.live-test-button {
    color: #0B042D;
    background-color: var(--text-green);
}

.row-reverse {
    flex-direction: row-reverse;
}

.colleague-feedback {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: var(--text-orange);
    margin-top: 36px;
    margin-bottom: 32px;
}

.feedback-card {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    max-width: 300px;
}

.feedback-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.feedback-card h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: var(--text-orange);
    margin-bottom: 8px;
}

.feedback-text {
    margin-top: 32px;
}

.language-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.all-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 105px;
}

.skill-section {
    margin-top: 103px;
}

.contact-section {
    margin-top: 104px;
}

.contact-section-title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.contact-links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
}

.contact-links a {
    display: flex;
    gap: 18px;
    color: var(--text-green);
}

.contact-img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.contact-info {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 24px;
}

.contact-info-text {
    max-width: 40%;
}

.text-input-section {
    display: flex;
    justify-content: space-between;
}

.contact-form input {
    border: solid 1px var(--text-green);
    background-color: transparent;
    color: var(--text-green);
    font-size: 18px;
    line-height: 140%;
    padding: 15px 13px;
}

.contact-form input::placeholder {
    color: var(--text-green);
}

.form-input-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 45%;
}

.message-input {
    width: 45%;
    border: solid 1px var(--text-green);
    background-color: transparent;
    color: var(--text-green);
    font-size: 18px;
    line-height: 140%;
    padding: 15px 13px;
    resize: none;
}

.message-input::placeholder {
    color: var(--text-green);
}

.submit-section {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.contact-form .guidlines-checkbox {
    width: 18px;
    height: 18px;
    border: solid 2px var(--text-orange);
    appearance: none;
    padding: 0px;
    border-radius: 1px;
    color: transparent;
}

.guidlines-checkbox:checked {
    background-color: var(--text-green);
}

.submit-button {
    color: #827B7B;
    line-height: 120%;
    background-color: transparent;
    border: solid 1px #827B7B;
    padding: 15px 30px;
    font-weight: 500;
    justify-self: flex-end;
    cursor: pointer;
}

.submit-button-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 88px;
}

.abbreviation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abbreviation {
    font-family: "Handjet", sans-serif;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 5%;
}

.abbreviation-subtext {
    font-size: 12px;
}

.copyright-text {
    font-size: 23px;
    line-height: 120%;
}

.footer-links {
    display: flex;
    gap: 32px;
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
}

.legal-links a {
    color: var(--text-orange);
    font-size: 14px;
    line-height: 120%;
}

.nav-links a:hover {
    color: var(--text-green);
}