@font-face {
    font-family: "Roboto Mono";
    src: url(./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Handjet";
    src: url(./fonts/Handjet/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}

:root {
    --text-green: #02F4BF;
    --text-orange: #E15544;
    --content-max-width: 1920px;
    --page-padding: 0px 100px;
    --page-padding-1150: 0px 75px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom, #13074E, #1D0A79F2);
    color: var(--text-green);
}

header {
    position: sticky;
    top: 0;
    padding: 24px 0px;
    background: linear-gradient(rgb(11 4 45) 60%, rgb(11 4 45 / 0.5));
    color: var(--text-orange);
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--page-padding);
}

.main-content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--page-padding);
}

.footer-content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--page-padding);
    color: var(--text-orange);
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-bar {
    display: flex;
    gap: 48px;
}

.nav-bar a {
    color: var(--text-orange);
    font-size: 22px;
    line-height: 120%;
}

.nav-bar p {
    font-size: 48px;
    font-family: "Handjet", sans-serif;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.language-selector {
    display: flex;
    font-size: 18px;
}

.language-text:hover{
    color: var(--text-green);
    cursor: pointer;
}

.abbreviation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abbreviation {
    font-family: "Handjet", sans-serif;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 5%;
}

.abbreviation-subtext {
    font-size: 12px;
}

.copyright-text {
    font-size: 23px;
    line-height: 120%;
}

.footer-links {
    display: flex;
    gap: 32px;
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 64px;
}

.legal-links a {
    color: var(--text-orange);
    font-size: 14px;
    line-height: 120%;
}

.nav-links a:hover {
    color: var(--text-green);
}

.legal-links a:hover {
    color: var(--text-green);
}