body {
    background-color: #1E0A7D;
    min-height: 100vh;
}

h1 {
    font-size: 54px;
    line-height: 120%;
    color: var(--text-orange);
    margin-top: 56px;
    margin-bottom: 64px;
}

h2 {
    margin-bottom: 16px;
    color: var(--text-orange);
}

.legal-section {
    margin-bottom: 24px;
}

.legal-section a {
    color: var(--text-green);
}

h3 {
    color: var(--text-orange);
}

.spacer-bottom {
    margin-bottom: 101px;
}

.text-orange {
    color: var(--text-orange);
}