@media (max-width: 1400px) {
    .scroll-down {
        display: none;
    }
}

@media (max-width: 1100px) {
    .project-card {
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hide-project-button {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .hero-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hide-1100 {
        display: none;
    }

    .about-content {
        align-items: center;
        text-align: center;
    }

    .about-details-column {
        align-items: center;
        width: 100%;
    }

    .about-icon-container{
        width: 100%;
    }

    .relocate-column div {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 1000px) {
    .feedback-card {
        border: solid 1px var(--text-green);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feedback-cards {
        justify-content: flex-start;
        scrollbar-width: thin;
    }
}

@media (max-width: 900px) {
    .text-input-section {
        flex-direction: column;
        gap: 32px;
    }

    .form-input-left {
        width: 100%;
    }

    .message-input {
        width: calc(100% - 28px);
    }

    .contact-links {
        display: none;
    }

    .contact-links-section a {
        display: none;
    }

    .contact-info-text {
        max-width: 100%;
        text-align: center;
    }

    .submit-button-section {
        margin-top: 24px;
        align-self: center;
    }
}

@media (max-width: 800px) {
    .contact-section-title img {
        display: none;
    }

    .project-card img {
        width: 95%;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 36px;
    }
}

@media (max-width: 400px) {
    h2 {
        font-size: 28px;
    }
}