@media (min-width: 1440px) {
    .hero-content {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .hero-section-image {
        width: auto;
        height: 53vh;
    }

    .h1-section {
        align-self: flex-start;
        margin-top: 5%;
        transition: all 0.4s ease;
    }

    .hero-section {
        align-items: stretch;
    }

    .contact-button {
        left: calc(50% - 138px / 2);
        transform: rotate(0deg);
    }

    .scroll-down {
        top: 43%;
        left: calc(50% - 38px / 2);
    }
}

@media (max-width: 1400px) {
    .scroll-down {
        display: none;
    }
}

@media (max-width: 1350px) {
    .hide-1350 {
        display: none;
    }

    .about-content {
        align-items: center;
        text-align: center;
    }

    .about-details-column {
        align-items: center;
        width: 100%;
    }

    .about-icon-container {
        width: 100%;
    }

    .relocate-column div {
        margin-left: 0px;
        margin-right: 0px;
    }

    .about-details {
        width: 100%;
    }

    #location {
        margin-right: 26px;
    }

    #relocate {
        margin-right: 44px;
    }

    #remote {
        margin-right: 12px;
    }
}

@media (max-width: 1100px) {
    .project-card {
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-card img {
        max-width: 100%;
        height: auto;
    }

    .project-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hide-project-button {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .hero-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hide-1100 {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .feedback-card {
        border: solid 1px var(--text-green);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feedback-cards {
        justify-content: flex-start;
        scrollbar-width: thin;
        padding-bottom: 8px;
    }

    .feedback-arrow {
        display: none;
    }
}

@media (max-width: 900px) {
    .text-input-section {
        flex-direction: column;
        gap: 32px;
    }

    .form-input-left {
        width: 100%;
    }

    .message-input {
        width: calc(100% - 28px);
    }

    .message-section {
        width: 100%;
    }

    .contact-links {
        display: none;
    }

    .contact-links-section a {
        display: none;
    }

    .contact-info-text {
        max-width: 100%;
        text-align: center;
    }

    .submit-button-section {
        margin-top: 24px;
        align-self: center;
    }
}

@media (max-width: 800px) {
    .contact-section-title img {
        display: none;
    }

    .project-card img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 62px;
    }

    .h1-section p {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .language-card p {
        display: none;
    }

    .all-skills {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .language-subtext {
        display: block;
        animation: 0.5s fadeIn ease both;
    }

    .challenge-arrow {
        display: block;
        animation: 0.5s fadeIn ease both;
    }

    .challenge-card p {
        display: block;
    }

    .project-title {
        text-align: center;
    }

    .project-card p {
        text-align: center;
    }

    .project-links {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .align-right {
        align-items: center;
    }

    .hero-content {
        padding-bottom: 100px;
    }

    .about-details .about-mobile-arrow {
        display: block;
        animation: 0.5s fadeIn ease both;
        width: auto;
        height: 50px;
    }

    .display-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

}

@media (max-width: 600px) {
    h2 {
        font-size: 36px;
    }

    .hero-section-image {
        max-width: 500px;
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 42px;
    }

    .h1-section p {
        font-size: 26px;
    }

    .all-skills {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

}

@media (max-width: 450px) {
    #location {
        margin-right: 0px;
    }

    #relocate {
        margin-right: 0px;
    }

    #remote {
        margin-right: 0px;
    }
}

@media (max-width: 400px) {
    h1 {
        text-align: center;
    }

    .h1-section p {
        text-align: center;
    }

    .project-links a {
        padding: 10px 20px;
    }

    .project-title {
        font-size: 36px;
    }

    .feedback-card {
        min-width: 200px;
        padding: 8px;
    }
}

@media (max-width: 1350px) and (max-height: 850px) {
    .contact-button {
        display: none;
    }
}